@import url(_reset.css);
@import url(_variaveis.css);

body {
	background-color: var(--cor-secundaria);
	color: var(--cor-contraste-escuro);
	font-family: var(--fonte-familia-corpo);
	overflow-x: hidden;
}

.container { 
	padding-right: 1rem;
	padding-left: 1rem;
}

.flex {
	display: flex;
}

.flex--centro {
	align-items: center;
	justify-content: center;
}

.flex--coluna {
	flex-direction: column;
}

@media(min-width: 800px) {
  .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;	
	}
}

@media(min-width: 1200px) {
	.container {
		padding-left: calc((100vw - 900px)/2);
		padding-right: calc((100vw - 900px)/2);
	}
}
