
.cabecalho {
    background-color: var(--cor-contraste-claro);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 3rem;
}

.cabecalho__lista-navegacao {
    display: flex;
}

.cabecalho__link {
    margin-left: 2rem;
}
